/* Cabecera */


.active{

  background: #3c763d;
}

.navigation {

  padding: 0px !important;
}

.navigation .navbar a:hover{
  background: #3c763d !important;
}

.navigation .navbar {
        background: #8dd28e !important;
        border-radius: 0px !important;
        border: none;
}

.navigation .navbar *{

  color: black !important;
}

.jumbotron{
  padding: 25px;
  border-radius: 5px;
  text-align: center;
}

.navigation .navbar .dropdown-menu *{
  color:black !important;

}

.pointer{
  cursor: pointer;
}

.item-user .image-user{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  overflow: hidden;

  margin-right: 15px;

}

.item-user .image-user img{
  width: 120px;
}

.item-user .user-name{
  margin-top: 10px;
}

.item-user .user-name .nickname{
  color:#969393;
}

.item-user .user-name .name-surname a{
  color:#666;
  font-weight: bold;
}

.avatar-default{
  width: 100% !important;
}
.seguro{
  margin-top:  -30px;
  background: #222326;
  position: absolute;
  height: 40px;
}
